.Technologies {
  .grid {
    display: grid;
    grid-template-columns: 15rem auto;
    margin-top: 2rem;

    .technology {
      display: flex;
      align-items: center;
      height: 2rem;

      > *:not(:first-child) {
        margin-left: 1.2rem;
      }

      .name {
        height: 1rem;
      }

      img {
        width: 1.1rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .Technologies {
    .grid {
      grid-template-columns: 11rem auto;
    }
  }
}

@media screen and (max-width: 350px) {
  .Technologies {
    .grid {
      grid-template-columns: auto;
    }
  }
}
