.About {
  .title {
    font-size: 1.5rem;
    margin: 2rem 0;

    .me {
      font-weight: 800;
    }
  }

  .neu-card {
    display: grid;
    grid-template-columns: 60% 40%;
    place-items: center;

    .text {
      font-size: 1rem;
      line-height: 1.4rem;
      padding: 4rem 0rem 4rem 4rem;

      p {
        &:first-of-type {
          margin-top: 0;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .highlight {
        color: #6250ac;
      }
    }

    img {
      width: 50%;
    }
  }

  .Technologies {
    margin: 4rem 0rem 0rem 4rem;
  }
}
