.About {
  .title {
    font-size: 1.5rem;
    padding-top: 2rem;
    margin-bottom: 2rem;

    .me {
      font-weight: 800;
    }
  }

  .neu-card {
    display: grid;
    grid-template-columns: 60% 40%;
    place-items: center;

    .text {
      font-size: 1rem;
      line-height: 1.4rem;
      padding: 4rem 0rem 4rem 4rem;

      p {
        &:first-of-type {
          margin-top: 0;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .highlight {
        color: #6250ac;
      }
    }

    img {
      width: 50%;
    }
  }

  .Technologies {
    margin: 4rem 0rem 0rem 4rem;
  }
}

@media screen and (max-width: 700px) {
  .About {
    .neu-card {
      .text {
        padding: 3rem 0rem 3rem 3rem;
      }
    }

    .Technologies {
      margin-left: 3rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .About {
    .neu-card {
      grid-template-columns: 100% 0%;

      .text {
        padding: 2.5rem;
      }

      img {
        display: none;
      }
    }

    .Technologies {
      margin-left: 2.5rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .About {
    .neu-card {
      .text {
        padding: 2rem;
      }
    }

    .Technologies {
      margin-left: 2rem;
    }
  }
}

@media screen and (max-width: 400px) {
  .About {
    .Technologies {
      margin-left: 0rem;
    }
  }
}
