.NavBar {
  padding-top: 2.5rem;
  display: flex;
  justify-content: flex-end;

  a {
    padding: 1rem;
    position: relative;
    z-index: 1;

    .number {
      color: #6250ac;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .NavBar {
    a {
      &:before {
        content: "";
        position: absolute;
        background-color: #58eeaf;
        height: 0.5rem;
        top: 1.25rem;
        left: 0.5rem;
        width: 0;
        z-index: -1;
        transition: 0.4s;
      }

      &:hover {
        cursor: pointer;

        &:before {
          width: calc(100% - 1rem);
        }
      }
    }
  }
}
